<ion-content>
<ion-grid>
  <ion-row class="rows">
    <ion-row><ion-col size-sm="12" size-lg="12" class="imagen"><img src="https://i.imgur.com/4BHxoUc.png"></ion-col></ion-row>
    <ion-col size-sm="6" size-lg="6" class="titulo">Zapatos Nike</ion-col>
    <ion-col size-sm="6" size-lg="12" class="descripcion"> Un zapato Nike es un calzado deportivo que se caracteriza por su comodidad, flexibilidad y
      soporte superior. La flexibilidad incomparable de los zapatos de Nike es certificada, y vienen con espiga y
      macizas que se suma a la comodidad y el apoyo del portador </ion-col>
  </ion-row>
</ion-grid>
</ion-content>  